.Button{
    border: 1px solid crimson;
    color:crimson;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: 0.5s ease-in-out;
    padding: 0.6rem 2rem;
}
.Button:hover{
    background-color: crimson;
    color: white;
    border: none;
}